@model CreditRatingModel.Model.EducationLoanDisbursment_Metadata
@using CreditRatingModel.Model

    @{
        ViewBag.Title = "ADD";
        Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    }
<br />
<link href="@Url.Content("~/CSS/bootstrap-3.3.2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/CSS/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/CSS/prettify.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/js/bootstrap-3.3.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/prettify.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/bootstrap-multiselect.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/myjquery.js")" type="text/javascript"></script>

 <script type="text/javascript">

     $(document).ready(function () {
         var MobileCode = '@(ViewBag.MobileCode)';
         $('#txtContryCode').val(MobileCode);
          var MobileNo = '@(ViewBag.MobileNo)';
          $('#txtPhoneNo').val(MobileNo);      
      });
          </script>

@using (Html.BeginForm("EditEduLoanDis", "EducationLoanDisbursment", FormMethod.Post,
                            new { id = "EduLoanDis" }))
{ 
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading"><label id="lblHeading" class="filter-col control-label labelHead">Education Loan Disbursement</label></div>
            <div class="panel-body">
                <div id="tabs">
             @*       <div class="tabbable-panel">
                        <div class="tabbable-line">*@
                            <ul>
                                <li> 
                                    <a href="#tabs-1" data-toggle="tab" style="font-size: small; color: #000000; font-weight: bold">Student Personal Info</a>
                                </li>
                                <li>
                                    <a href="#tabs-2" data-toggle="tab" style="font-size: small; color: #000000; font-weight: bold">Student Loan Details</a>
                                </li>
                               
                            </ul>
                           @* <div class="tab-content">*@
                                <div id="tabs-1" class="tab-pane">
                                      @*  @using (Html.BeginForm("AddStudentPersonalInfo", "EducationLoanDisbursment"))
                                        {
                                            *@
                                    <div class="row">
                                        @Html.HiddenFor(Model=>Model.Id)
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblNID" class="filter-col control-label label1">National Identification Number (NRC) :</label>
                                                        @Html.TextBoxFor(model => model.NId, new { @id = "txtNID", @class = "form-control input-sm", @onkeypress = "return isNumber(event)" , @onblur = " checkLengthForNRC(this)", @maxlength = "13",@readonly="true" })
                                                    </div>
                                                </div>
                                                @*<div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblSName" class="filter-col control-label label1">Student Name:</label>
                                                        @Html.TextBoxFor(model => model.StudentName, new { @id = "txtSName", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)", @maxlength = "100" })
                                                    </div>
                                                </div>*@
                                            </div>
                                    <div id="Title" class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label id="lblTitle" class="filter-col control-label label1">Title</label>
                                            @Html.DropDownListFor(model => model.TitleId, ViewBag.Name as SelectList, "select title", new { @class = "form-control dropdown" })
                                            @Html.ValidationMessageFor(model => model.TitleId1)
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label id="lblFN" class="filter-col control-label label1">First Name</label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @onkeypress = "return  AllowAlphabet(event)", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label id="lblMiddle" class="filter-col control-label label1">Middle Name</label>
                                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @onkeypress = " return  AllowAlphabet(event)", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.MiddleName)
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label id="lblLast" class="filter-col control-label label1">Last Name</label>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @onkeypress = " return  AllowAlphabet(event)", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.LastName)

                                        </div>
                                    </div>
                                </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblDOB" class="filter-col control-label label1">Date Of Birth</label>
                                                        @Html.EditorFor(model => model.DateOfBirth, new { @type = "date", @class = "form-control", @onblur = " ValidateDate(this)" })
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblGender" class="filter-col control-label label1">Gender</label>
                                                        @{
                                                            List<SelectListItem> listItems = new List<SelectListItem>();
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "Male",
                                                                Value = "M"
                                                            });
                                                            listItems.Add(new SelectListItem
                                                            {
                                                                Text = "Female",
                                                                Value = "F",

                                                            });
                                                        }

                                                        @Html.DropDownListFor(model => model.Sex, listItems, "-- Select Gender --", new { @class = "form-control dropdown" })
                                                        @Html.ValidationMessageFor(model => model.Sex)
                                                    </div>
                                                </div>
                                            </div>
                                       <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblColName" class="filter-col control-label label1">Select College :</label>
                                                        @*@Html.TextBoxFor(model => model.CollegeId, new { @id = "txtCollegeName", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)" })*@
                                                        @Html.DropDownListFor(model => model.CollegeId, ViewBag.College as SelectList ,new { @id = "ddlCollege", @class = "form-control dropdown " })
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblCourse" class="filter-col control-label label1">Select Course:</label>
                                                        @Html.DropDownListFor(model => model.CourseId, ViewBag.Course as SelectList, new { @id = "selCourse", @class = "form-control dropdown "})
                                                        @*<select id="selCourse" name="selCourse" style="color: black" class="form-control dropdown"></select>*@
                                                    </div>
                                                </div>
                                            </div>
                                    <br/>
                                       <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <label id="lblConD" class="filter-col control-label label2">Contact Details </label>
                        </legend>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblSAdd" class="filter-col control-label label1">Address:</label>
                                                           @Html.TextBoxFor(model => model.Address1, new {  @class = "form-control input-sm", @onkeypress = "return isAlphaNumeric(event)", @maxlength = "100"})
                                     @Html.TextBoxFor(model => model.Address2, new {  @class = "form-control input-sm", @onkeypress = "return isAlphaNumeric(event)", @maxlength = "100"})
                                     @Html.TextBoxFor(model => model.Address3, new {  @class = "form-control input-sm", @onkeypress = "return isAlphaNumeric(event)", @maxlength = "100"})
                                                             </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblColCountryId" class="filter-col control-label label1">Country :</label>
                                                        @Html.DropDownListFor(model => model.CountryId1, ViewBag.Country as SelectList, new { @id = "ddlCountryId", @class = "form-control dropdown" })
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                             <label id="lblState" class="filter-col control-label label1">State :</label>
                                                    @Html.DropDownListFor(model => model.StateId1, ViewBag.StateList as SelectList, new { @id = "selState", @class = "form-control dropdown" })
                                                   
                                                        @*<select id="selState" name="selState" style="color: black" class="form-control dropdown"></select>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblCity" class="filter-col control-label label1">City :</label>
                                                    @Html.DropDownListFor(model => model.CityId1, ViewBag.City as SelectList, new { @id = "selCity", @class = "form-control dropdown" })
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label id="lblPincode" class="filter-col control-label label1">Pincode :</label>
                                                        @Html.TextBoxFor(model => model.Pincode, new { @id = "txtPincode", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForPincode(this)", @maxlength = "6" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label id="lblPhoneNo" class="filter-col control-label label1">Telephone No :</label>
                                                </div>
                                                <div class="col-xs-6">

                                                    <label id="lblEmailId" class="filter-col control-label label1">Email Id :</label>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-xs-1">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.code, new { @id = "txtContryCode", @class = "form-control input-sm", @readonly = "true" })
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.StudentContactNo, new { @id = "txtPhoneNo", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForContact(this)", @maxlength = "10"  })
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBoxFor(model => model.StudentEmailId, new { @id = "txtEmailId", @class = "form-control input-sm", @onblur = "return validateEmail(this)" , @maxlength = "50"})
                                                    </div>
                                                </div>
                                            </div>
                                           </fieldset>
                                         
                                            <div class="row">            
                                                 <div class="col-xs-4">        
                                                     </div>                               
                                                <div class="col-xs-2">                                                 
                                         
                                    
                                                </div>                                               
                                                <div class="col-xs-6">
                                           @*         <button id="btnClear" type="reset" name="RESET">RESET</button>*@
                                                </div>
                                            </div>
                                     @*   }*@
                                </div>
                                <div id="tabs-2" class="tab-pane">
                                    <br/>
                                  <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <label id="lblLoanType" class="filter-col control-label label2"> Loan Details </label>
                        </legend>
                                    <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblLAccNo" class="filter-col control-label label1">Loan Amount :</label>
                                                    @Html.TextBoxFor(model => model.LoanAmount, new { @id = "txtLAccAmt", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @maxlength = "20" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblLAccDt" class="filter-col control-label label1">Loan Date:</label>
                                                    @Html.EditorFor(model => model.LoanAccountDate, new { @id="txtLAccDt", @type = "date", @class = "form-control"})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblDisAmt" class="filter-col control-label label1">Disburse Amount :</label>
                                                    @Html.TextBoxFor(model => model.DisburseAmount, new { @id = "txtDisAmt", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @maxlength = "20" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblDisDt" class="filter-col control-label label1">Disburse Date:</label>
                                                    @Html.EditorFor(model => model.DisburseDate, new { @id = "txtDisDt", @type = "date", @class = "form-control",@maxDate="0D"})
                                                </div>
                                            </div>
                                        </div>
                                      </fieldset>
                                    <br/>
                                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            <label id="lblGarDet" class="filter-col control-label label2">Guardian Details </label>
                        </legend>
                                             <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblLGNID" class="filter-col control-label label1">Guardian NRC :</label>
                                                    @Html.TextBoxFor(model => model.GarNID, new { @id = "txtLAccAmt", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @maxlength = "20" })
                                                </div>
                                            </div>
                                         
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblGName" class="filter-col control-label label1">Guardian Name :</label>
                                                    @Html.TextBoxFor(model => model.GarName, new { @id = "txtDisAmt", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @maxlength = "20" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label id="lblGRe" class="filter-col control-label label1">Relationship:</label>
                                                        @Html.DropDownListFor(model => model.RelationShipId, ViewBag.Relationship as SelectList,"Select Relationship" ,new {@class = "form-control dropdown " })
                                                </div>
                                            </div>
                                        </div>
                                          </fieldset>
                                @*    }*@
                                    <div class="row"> 
                                       
                                     <div class="col-xs-5">
                                                </div>
                                                <div class="col-xs-1">
                                                    <div class="form-group">
                                                        <input  type="submit" id="btnSave" value="Save" formmethod="post"/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">

                                                </div>
                                        </div>
                                </div>
                          
                                <div class="row">
                                    <div class="col-xs-5">
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="button" id="btnPrevious" value="Previous" style="display: none" />
                                        <input type="button" id="btnNext" value="Next" />
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                    
                          @*      </div>*@
                      @*      </div>
                        </div>*@

                    </div>
                <div class="row">
                                    <div class="col-xs-5">
                                    </div>
                                    <div class="col-xs-4">
                                    
                                       @* <input type="button" id="btnEdit" value="Edit" />*@
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                </div>
            </div>
        </div> 
    
}
    <script type="text/javascript">

        $(document).ready(function () {
            $("#selState").empty();
            debugger;
        var countryid = $("#ddlCountryId").val();
        var url = '@Url.Action("StateList", "EducationLoanDisbursment")';
          $.post(url, { CountryId: countryid }, function (data) {
              //debugger;
              //$("#selState").empty().append($("<option></option>").val(-1).html('Select'));
              $.each(data, function (Key, item) {
                  //debugger;
                  $("#selState").append($("<option></option>").val(item.Value).html(item.Text));
              });              
          });
        });
        $("#selCity").empty();
            var Stateid = $("#selState").val();
            var url = '@Url.Action("CityList", "EducationLoanDisbursment")';
            $.post(url, { Stateid: Stateid }, function (data) {
                //$("#selCity").empty().append($("<option></option>").val(-1).html('Select'));
                $.each(data, function (Key, item) {
                    $("#selCity").append($("<option></option>").val(item.Value).html(item.Text));
                });
            });

        $("#selCourse").empty();
            var CollegeId = $("#ddlCollege").val();
            var url = '@Url.Action("GetCourseList", "EducationLoanDisbursment")';
         $.post(url, { CollegeId: CollegeId }, function (data) {
             debugger;
             //$("#selCourse").empty().append($("<option></option>").val(-1).html('Select Course'));
             $.each(data, function (Key, item) {
                 $("#selCourse").append($("<option></option>").val(item.Value).html(item.Text));
             });
         });
     
    $("#ddlCountryId").change(function () {
        var countryid = $("#ddlCountryId").val();
        var url = '@Url.Action("StateList", "EducationLoanDisbursment")';
        $.post(url, { CountryId: countryid }, function (data) {
            $("#selState").empty().append($("<option></option>").val(-1).html('Select'));
            $.each(data, function (Key, item) {
                $("#selState").append($("<option></option>").val(item.Value).html(item.Text));
            });
        });

        var url1 = '@Url.Action("AssignCountryCode", "EducationLoanDisbursment")';
        $.post(url1, { CountryId: countryid }, function (data) {
            debugger;
            if (data != null) {
                $("#txtContryCode").val(data);
            }
        });

    });
        $("#selState").change(function () {
            var Stateid = $("#selState").val();
            var url = '@Url.Action("CityList", "EducationLoanDisbursment")';
            $.post(url, { Stateid: Stateid }, function (data) {
                $("#selCity").empty().append($("<option></option>").val(-1).html('Select'));
                $.each(data, function (Key, item) {
                    $("#selCity").append($("<option></option>").val(item.Value).html(item.Text));
                });
            });
        });

        $("#ddlCollege").change(function () {
            debugger;
            var CollegeId = $("#ddlCollege").val();
            var url = '@Url.Action("GetCourseList", "EducationLoanDisbursment")';
            $.post(url, { CollegeId: CollegeId }, function (data) {
                debugger;
               $("#selCourse").empty().append($("<option></option>").val(-1).html('Select Course'));
                $.each(data, function (Key, item) {
                    $("#selCourse").append($("<option></option>").val(item.Value).html(item.Text));
                });
            });                 
        });
        
   
        $('#txtLAccNo').change(function () {
            var LoanAccountNo = $('#txtLAccNo').val();
            debugger;
            $.ajax({
                url: '/EducationLoanDisbursment/CheckLoanAccountNo/',
                type: 'POST',
                data: { LoanAccountNo: LoanAccountNo },
                success: function (result) {
                    debugger;
                    var a = JSON.stringify(result);
                    if (a == "false") {
                        alert('Loan Account Number already exists');
                        $('#txtLAccNo').val('');
                    }
                }
            });
        });
        //$("#btnEdit").click(function () {
        //    FormDisable();
        //    $('#btnSave').show();
        //    $('#btnEdit').hide();
        //});
        $(function () {
            debugger;
            //FormEnable();
            //$('#txtNID').attr("disabled", true)
            //$('#selEmployerType').attr("disabled", true)
            //$('#selEmployerBranch').attr("disabled", true)
            var frmvalidator = new Validator("EduLoanDis");
            frmvalidator.EnableMsgsTogether();
            debugger;
            frmvalidator.addValidation("txtNID", "req", "Please enter National Identification Number ");
            frmvalidator.addValidation("TitleId", "req", "Please select Title");
            frmvalidator.addValidation("FirstName", "req", "Please enter First Name ");
            frmvalidator.addValidation("MiddleName", "req", "Please enter Middle Name ");
            frmvalidator.addValidation("LastName", "req", "Please enter Last Name ");
            frmvalidator.addValidation("selCourse", "req", "Please select Course");
            frmvalidator.addValidation("ddlCollege", "req", "Please select College  ");
            frmvalidator.addValidation("Address1", "req", "Please enter Address");
            frmvalidator.addValidation("ddlCountryId", "req", "Please select country");
            frmvalidator.addValidation("selState", "req", "Please select state");
            frmvalidator.addValidation("txtPincode", "req", "Please enter pin number");
            frmvalidator.addValidation("txtPhoneNo", "req", "Please enter mobile number ");
            frmvalidator.addValidation("selCity", "req", "Please enter city");
            frmvalidator.addValidation("txtEmailId", "req", "Please enter email id ");
            frmvalidator.addValidation("txtLAccAmt", "req", "Please enter Loan Amount");
            frmvalidator.addValidation("LoanAccountDate", "req", "Please select Loan Account Date");
            frmvalidator.addValidation("txtDisAmt", "req", "Please enter Disbursement Amount ");
            frmvalidator.addValidation("DisburseDate", "req", "Please select Disbursement Date");
            frmvalidator.addValidation("DateOfBirth", "req", "Please select Date Of Birth");
            frmvalidator.addValidation("Sex", "req", "Please select Gender");
            frmvalidator.addValidation("GarNID", "req", "Please enter Guardian NID Number");
            frmvalidator.addValidation("GarName", "req", "Please enter Guardian Name");
            frmvalidator.addValidation("RelationShipId", "req", "Please select Relationship");
        });

</script>
 <script type="text/javascript">
     function FormEnable() {
         debugger;
         //$('#EmployerId').attr("disabled", true)
         //$('#selEmployerType').attr("disabled", true)
         //$('#selEmployerBranch').attr("disabled", true)
         $('#txtNID').attr("disabled", true)
         $('#txtSName').attr("readonly", true)
         $('#ddlCollege').attr("disabled", true)
         $('#selCourse').attr("disabled", true)
         $('#Sex').attr("disabled", true)
         $('#DisburseDate').attr("disabled", true)
         $('#DateOfBirth').attr("disabled", true)
         $('#txtLAccNo').attr("readonly", true)
         $('#txtDisAmt').attr("readonly", true)
         $('#LoanAccountDate').attr("disabled", true)
         $('#txtSAdd').attr("readonly", true)
         $('#ddlCountryId').attr("disabled", true)
         $('#selState').attr("disabled", true)
         $('#txtCity').attr("readonly", true)
         $('#txtPincode').attr("readonly", true)
         $('#MobileCode').attr("readonly", true)
         $('#txtPhoneNo').attr("readonly", true)
         $('#txtEmailId').attr("readonly", true)
     };

     function FormDisable() {
         debugger;
         //$('#EmployerId').attr("disabled", true)
         //$('#selEmployerType').attr("disabled", true)
         //$('#selEmployerBranch').attr("disabled", true)
         $('#txtNID').attr("disabled", false)
         $('#txtSName').attr("readonly", false)
         $('#ddlCollege').attr("disabled", false)
         $('#selCourse').attr("disabled", false)
         $('#Sex').attr("disabled", false)
         $('#DisburseDate').attr("disabled", false)
         $('#DateOfBirth').attr("disabled", false)
         $('#txtLAccNo').attr("readonly", false)
         $('#txtDisAmt').attr("readonly", false)
         $('#LoanAccountDate').attr("disabled", false)
         $('#txtSAdd').attr("readonly", false)
         $('#ddlCountryId').attr("disabled", false)
         $('#selState').attr("disabled", false)
         $('#txtCity').attr("readonly", false)
         $('#txtPincode').attr("readonly", false)
         $('#MobileCode').attr("readonly", false)
         $('#txtPhoneNo').attr("readonly", false)
         $('#txtEmailId').attr("readonly", false)
     };
</script>
<script type="text/javascript">
    var currentTab = 0;
    $(function () {
        debugger;
        $("#tabs").tabs({
            disabled: [0, 1, 2],
            select: function (e, i) {
                currentTab = i.index;
                return currentTab;
            }
        });
    });
    $("#btnNext").click(function () {
        debugger;
        var selectedTab = currentTab;
        var b = selectedTab + 1;

        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == (c - 1) ? currentTab : (currentTab + 1);
        if (currentTab == (c - 1)) {
            $("#btnNext").hide();
            $("#btnPrevious").show();

            tabs.tabs('enable', b);
            tabs.tabs('option', 'active', b);
            tabs.tabs('option', 'selected', b);

            var c = tabs.find("ul li").size();
            for (var i = 0; i < c; i++) {
                tabs.tabs('disable', i);
            }


            //tabs.tabs('select', currentTab);
        } else {

            $("#btnNext").show();
            $("#btnPrevious").show();
            //tabs.tabs('select', currentTab);
            tabs.tabs('enable', b);
            tabs.tabs('option', 'active', b);
            tabs.tabs('option', 'selected', b);

            var c = tabs.find("ul li").size();
            for (var i = 0; i < c; i++) {
                tabs.tabs('disable', i);
            }
        }
    });
    $("#btnPrevious").click(function () {
        debugger;
        var selectedTab = currentTab;
        var b = selectedTab - 1;
        var tabs = $('#tabs').tabs();
        var c = $('#tabs').tabs("length");
        currentTab = currentTab == 0 ? currentTab : (currentTab - 1);


        if (currentTab < (c - 1)) {
            $("#btnNext").show();
            $("#btnPrevious").show();

            tabs.tabs('enable', b);
            tabs.tabs('option', 'active', b);
            tabs.tabs('option', 'selected', b);

            var c = tabs.find("ul li").size();
            for (var i = 0; i < c; i++) {
                tabs.tabs('disable', i);
            }
            //tabs.tabs('select', currentTab);
        }

        if (currentTab == 0) {
            $("#btnNext").show();
            $("#btnPrevious").hide();

            tabs.tabs('enable', b);
            tabs.tabs('option', 'active', b);
            tabs.tabs('option', 'selected', b);

            var c = tabs.find("ul li").size();
            for (var i = 0; i < c; i++) {
                tabs.tabs('disable', i);
            }
            //tabs.tabs('select', currentTab);

        }

    });

</script>
