@{
    //ViewBag.Title = "ViewLoanDisbursed";
    var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 9);
    grid.Pager(WebGridPagerModes.All);
    var grid1 = new WebGrid(ViewBag.List, canSort: true, canPage: true, rowsPerPage: 9);
    grid1.Pager(WebGridPagerModes.All);
    @Html.AntiForgeryToken()
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


 <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"> <label id="lblHeading" class="filter-col control-label labelHead">Loan Disburse Details </label>  </div>
                <div class="panel-body">
<div id="tabs">
    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul class="nav nav-tabs">

                <li >
                    <a href="#tabs-1" data-toggle="tab" style="font-size: small; color: #000000; font-weight: bold" class="active">Loan</a>
                </li>
                <li>
                    <a href="#tabs-2" data-toggle="tab" style="font-size: small; color: #000000; font-weight: bold">Credit Card</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane active">
                    <div class="container">
                            @*<div class="panel panel-primary" style=" width:1000px;min-height:500px; max-height:500px; overflow:auto;">*@
                        <div class="row">
                            <div class="col-xs-1">
                           
               </div>
                             <div class="col-xs-10">
                            <div class="panel panel-primary filterable">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Loan</h3>
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                                    </div>
                                </div>
                             <div class="panel panel-primary" style="overflow:auto;height:500px">
                                <table class="table">
                                    <thead>
                                        <tr class="filters">
                                            <th width="85px">
                                                <input type="text"  placeholder="PanCard Number" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Loan Application Number" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text" placeholder="Loan Application Date" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Loan Disburse Date" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="Disburse Amount" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="Loan Type" disabled>
                                            </th>
                                              <th width="85px">
                                                <input type="text"  placeholder="Loan Account Date" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="First Installment" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="No. Of Months" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Expiry Date" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="EMI" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="Rate Of Interest" disabled>
                                            </th>
                                             <th width="85px">
                                                <input type="text"  placeholder="Interest Type" disabled>
                                            </th>
                                            <th width="15px">
                                                <input type="hidden"  disabled>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="filters">

                             @grid.GetHtml(
                            tableStyle: "table",
                            headerStyle: "webgrid-header",
                            //footerStyle: "webgrid-footer",
                            columns: grid.Columns(
                                grid.Column(columnName: "Pan", style: "webgrid-fixColumn"),
                                grid.Column(columnName: "LoanApplicationNo", style: "webgrid-fixColumn"),
                                grid.Column(columnName: "LoanApplicationDate", format: item => ((item.LoanApplicationDate == null) ? "" : item.LoanApplicationDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                               grid.Column(columnName: "LoanDisburseDate", format: item => ((item.LoanDisburseDate == null) ? "" : item.LoanDisburseDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                                grid.Column(columnName: "DisburseAmount",style: "webgrid-fixColumn"),
                                grid.Column(columnName: "Type", style: "webgrid-fixColumn"),
                                grid.Column(columnName: "LoanAccountDate", format: item => ((item.LoanAccountDate == null) ? "" : item.LoanAccountDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                                grid.Column(columnName: "FirstInstallment", style: "webgrid-fixColumn"),
                                grid.Column(columnName: "NoOfMonths", style: "webgrid-fixColumn"),  
                               grid.Column(columnName: "ExpiryDate", format: item => ((item.ExpiryDate == null) ? "" : item.ExpiryDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                                grid.Column(columnName: "EMI", style: "webgrid-fixColumn"),
                                grid.Column(columnName: "RateOfInterest", style: "webgrid-fixColumn"),      
                               grid.Column(columnName: "InterestType", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "Category", style: "webgrid-hide"),
                                grid.Column(columnName: "Id", style: "webgrid-hide"),
                                //Added View button. after clicking on it will open another form
                                grid.Column("", format: @<text>@Html.ActionLink("View", "EditLoanDisburse", "LoanDisburse", new { intid = item.Id, strCategory=item.Category }, null)</text>)
                                ))
                                        </tr>
                                    </tbody>
                                </table>
                                  </div>  
                            </div>
                         </div>
                                    <div class="col-xs-1">
                           
               </div>
                    </div>
                          @*      </div>*@
                    </div>
                </div>

                <div id="tabs-2" class="tab-pane">
                    <div class="container">
                      @*<div class="panel panel-primary" style=" width:1000px;
         min-height:500px; max-height:500px; overflow:auto;">*@
                        <div class="row">
                             <div class="col-xs-1">
                           
               </div>
                                 <div class="col-xs-10">
                            <div class="panel panel-primary filterable">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Credit Card</h3>
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                                    </div>
                                </div>
                                <div class="panel panel-primary" style=" overflow:auto;height:500px">
                                <table class="table">
                                    <thead>
                                        <tr class="filters">
                                            <th width="85px">
                                                <input type="text"  placeholder="PanCard Number" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Loan Application Number" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Loan Application Date" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="Loan Disburse Date" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text" placeholder="Disburse Amount" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text" placeholder="Loan Type" disabled>
                                            </th>
                                              <th width="85px">
                                                <input type="text"  placeholder="Loan AccountNo1" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text" placeholder="LoanAccountNo2" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="LoanAccountNo3" disabled>
                                            </th>
                                            <th width="75px">
                                                <input type="text"  placeholder="LoanAccountNo4" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="Credit Card Expiry Date" disabled>
                                            </th>
                                            <th width="85px">
                                                <input type="text"  placeholder="Cash Limit" disabled>
                                            </th>
                                             <th width="85px">
                                                <input type="text"  placeholder="Credit Limit" disabled>
                                            </th>
                                            <th width="15px">
                                                <input type="hidden"  disabled>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="filters">




                                            @grid1.GetHtml(
                tableStyle: "table",
                headerStyle: "webgrid-header",
                         //footerStyle: "webgrid-footer",
                                                    //alternatingRowStyle: "webgrid-alternating-row",
                                                    //rowStyle: "webgrid-row-style",
                columns: grid1.Columns(
                               grid1.Column(columnName: "Pan", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanApplicationNo", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanApplicationDate", format: item => ((item.LoanApplicationDate == null) ? "" : item.LoanApplicationDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanDisburseDate", format: item => ((item.LoanDisburseDate == null) ? "" : item.LoanDisburseDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "DisburseAmount",style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "Type", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanAccountNo1", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanAccountNo2", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanAccountNo3", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "LoanAccountNo4",style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "CreditCardExpiryDate", format: item => ((item.CreditCardExpiryDate == null) ? "" : item.CreditCardExpiryDate.ToString("dd/MMM/yyyy")), style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "CashLimit",style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "CreditLimit", style: "webgrid-fixColumn"),
                               grid1.Column(columnName: "Category", style: "webgrid-hide"),
                               grid1.Column(columnName: "Id", style: "webgrid-hide"),
                               grid1.Column("", format: @<text>@Html.ActionLink("View", "EditLoanDisburse", "LoanDisburse", new { intid = item.Id, strCategory=item.category  }, null)</text>)
                               ))

                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                         <div class="col-xs-1">
                           
               </div>
                              </div>
                    </div>
                </div>
          </div>
        </div>
    </div>

</div>
                    </div>
                </div>
     </div>
@*<script type="text/javascript">
    $(function () {
        debugger;
        $('tbody tr').hover( function(){
            $(this).toggleClass('clickable');
        }).on('click', function(){
            location.href = '/EditLoanDisburse/LoanDisburse/' + $(this).find('td:last').text();
        }); 
    });
</script> *@ 