@model CreditRatingModel.Model.Master

@{
    ViewBag.Title = "LoanType";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@using (@Html.BeginForm("LoanType", "Master", FormMethod.Post, new { id = "frmLoanType" }))
{
    <div class="row" style="height: 50px">
    </div>
            
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="lblHeading" class="filter-col control-label labelHead">Loan Type Master</label>
            </div>
            <div class="panel-body">
                <fieldset class="scheduler-border">
                    @* <legend class="scheduler-border">
                            <label id="lblLoanType" class="filter-col control-label label4"> Loan Type </label>
                        </legend>*@
                    <br />
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <label id="lblPanN" class="filter-col control-label label1">Loan Type:</label>
                                @Html.TextBoxFor(modelItem => modelItem.LoanType, new { @class = "form-control", @id = "LoanType", @onkeypress = " return  AllowAlphabet(event)", @maxlength = "100" })
                                @*<div class="row-error ErrorMessage">
                                    @Html.ValidationMessageFor(modelItem => modelItem.LoanType)
                                </div>*@
                                @*<span style="color: Red">*</span>*@
                            </div>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label id="lblFIN" class="filter-col control-label label1">Credit Type :</label>
                                @Html.DropDownListFor(modelItem => modelItem.CreditTypeId, ViewBag.CreditType as SelectList, "Select Credit Type", new { @class = "form-control", @id = "CreditTypeId" })

                            </div>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label id="lblSex" class="filter-col control-label label1">Category :</label>
                                @Html.DropDownListFor(model => model.Category, new List<SelectListItem> { new SelectListItem { Text = "Loan", Value = "L" }, new SelectListItem { Text = "Credit", Value = "C" } }, "Select Category", new { @id = "Category", @class = "form-control dropdown" })

                            </div>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <button id="btnSave" type="submit" name="save" formmethod="post">Save</button>
                        <div class="col-xs-4">
                        </div>

                        @*<input id="btnSave" type="submit" value="Save" hidden="hidden" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#btnSave').click(function () {
            debugger;
            var frmvalidator = new Validator("frmLoanType");
            debugger;
            frmvalidator.clearAllValidations();
            frmvalidator.EnableMsgsTogether();
            frmvalidator.addValidation("LoanType", "req", "Please Enter Loan Type");
            frmvalidator.addValidation("CreditTypeId", "req", "Please Select Credit Type");
            frmvalidator.addValidation("Category", "req", "Please Select Category");
        });
    });

    $(function () {
        $('#LoanType').change(function () {
            var LoanType = $('#LoanType').val();
            //
            $.ajax({

                url: '/Master/doesLoanType/',
                type: 'POST',
                data: { LoanType: LoanType },
                success: function (result) {
                    var a = JSON.stringify(result);
                    if (a == "false") {
                        alert(' This Loan Type already exits');
                        $('#LoanType').val('');
                        return;
                    }
                }
            });
        });
    });
</script>
