@model CreditRatingModel.Model.FinancialInstitutionContactMaster_Metadata
@using CreditRatingModel.Model;

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/CSS/bootstrap-3.3.2.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/CSS/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/prettify.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/js/bootstrap-3.3.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/prettify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap-multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js/myjquery.js")" type="text/javascript" ></script>
       
</head>
<body>

    @using (Html.BeginForm("Index", "InstituteBranchMaster"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <br />
    
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"> <label id="lblHeading" class="filter-col control-label labelHead">Financial Institute Branch Master </label>  </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblInstitute" class="filter-col control-label label1">Select Financial Institute :</label>
                                @*@Html.DropDownListFor(model => model.FinancialInstituteId, new SelectList(Model.CategoryItem, "Value", "Text"), new { @id = "ddlInstitute", @class = "form-control dropdown" })*@
                                @Html.DropDownListFor(model => model.FinancialInstituteId, ViewBag.Category as SelectList, "Select Category ", new { @id = "ddlInstitute", @class = "form-control dropdown" })
                                <div class="row-error ErrorMessage">
                                    @Html.ValidationMessageFor(model => model.FinancialInstituteId)
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblBranchName" class="filter-col control-label label1">Branch Name :</label>
                                @Html.TextBoxFor(model => model.BranchName, new { @id = "txtBrName", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)"})
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.BranchName)</div>

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label id="lblBrCode" class="filter-col control-label label1">Branch Code :</label>
                            @Html.TextBoxFor(model => model.BranchCode, new { @id = "txtBrCode", @class = "form-control input-sm", @onkeypress = "return isAlphaNumeric(event)", @onblur = "checkLengthForBankCode(this)", @maxlength="11"})
                            <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.BranchCode)</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblAdd1" class="filter-col control-label label1">Address :</label>
                                @Html.TextBoxFor(model => model.Address1, new { @id = "txtAdd1", @class = "form-control input-sm" })
                                <div class="row_error ErrorMessage">@Html.ValidationMessageFor(model => model.Address1)</div>

                                @Html.TextBoxFor(model => model.Address2, new { @id = "txtAdd2", @class = "form-control input-sm" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.Address2)</div>

                                @Html.TextBoxFor(model => model.Address3, new { @id = "txtAdd3", @class = "form-control input-sm" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.Address3)</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblCredittype" class="filter-col control-label label1">Credit Type :</label>
                                @*@Html.DropDownListFor(model => model.FinancialInstituteCreditTypeId, new SelectList(Model.CreditType, "Value", "Text"), new { @id = "CreditType", @class = "form-control dropdown", @multiple="multiple" })*@
                                @Html.DropDownListFor(model => model.FinancialInstituteCreditTypeId, ViewBag.CreditType as SelectList, new { @id = "ddlCreditType", @class = "form-control dropdown ", @multiple = "multiple" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.FinancialInstituteCreditTypeId)</div>
                                @*<label id="lblAdd2" class="filter-col control-label label1">Address 2 :</label>*@
                               
                                @*<textarea id="txtAdd2" class="form-control input-sm"></textarea>*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @*<label id="lblAdd3" class="filter-col control-label label2">Address 3 :</label>*@
                                
                                @*<textarea id="txtAdd3" class="form-control input-sm"></textarea>*@
                            </div>
                        </div>
                        <div class="col-xs-6">
                         
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblCountry" class="filter-col control-label label1">Country :</label>
                                @*<select id="selCountry" class="dropdown"></select>*@
                                @*@Html.DropDownListFor(model => model.CountryId, new SelectList(Model.country, "Value", "Text"), new { @id = "Country", @class = "form-control dropdown" })*@
                                @Html.DropDownListFor(model => model.CountryId, ViewBag.Country as SelectList, "Select Country ", new { @id = "Country", @class = "form-control dropdown" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.CountryId)</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblState" class="filter-col control-label label1">State :</label>
                                <select id="selState" name="selState" style="color: black" class="form-control dropdown"></select>
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.StateId)</div>
                                @* @Html.DropDownListFor(model=>model.State.Id,new SelectList(Model.state,"Value","Text"), new {@id="State"})*@
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblCity" class="filter-col control-label label1">City :</label>
                                @Html.TextBoxFor(model => model.City, new { @id = "txtCity", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.City)</div>
                                @*<input id="txtCity" class="form-control input-sm" type="text" />*@
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblPincode" class="filter-col control-label label1">Pincode :</label>
                                @Html.TextBoxFor(model => model.Pincode, new { @id = "txtPincode", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForPincode(this)" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.Pincode)</div>
                                @*<input id="txtPincode" class="form-control input-sm" type="text" />*@
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label id="lblPhoneNo" class="filter-col control-label label1">Telephone No :</label>
                        </div>
                        <div class="col-xs-6">

                            <label id="lblEmailId" class="filter-col control-label label1">Email Id :</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-1">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Code, new { @id = "txtContryCode", @class = "form-control input-sm", @readonly = "true" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.Code)</div>
                                @*<input id="txtContryCode" class="form-control input-sm" type="text" />*@
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.ContactNo, new { @id = "txtPhoneNo", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForContact(this)" })
                                <div class="row-error ErrorMessage"> @Html.ValidationMessageFor(model => model.ContactNo)</div>
                                @*<input id="txtPhoneNo" class="form-control input-sm" type="text" />*@
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.FinancialInstituteEmailId1, new { @id = "txtEmailId", @class = "form-control input-sm", @onchange = "return validateEmail(event)" })
                                <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.FinancialInstituteEmailId1)</div>
                                @*<input id="txtEmailId" class="form-control input-sm" type="text" />*@
                            </div>
                        </div>
                    </div>

                    <br />
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                            @*<div class="row">
                <div class="col-xs-12">
                    <div class="form-group">*@
                            <label id="lblContPersonDetails" class="filter-col control-label label2">Contact Person's Details :</label>
                            @*<textarea id="txtContPersonDetails" class="form-control input-sm"></textarea>*@
                            @*</div>
                    </div>
                </div>*@
                        </legend>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson1Name" class="filter-col control-label label1">Person 1 Name :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson1, new { @id = "txtPerson1name", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)" })
                                    <div class="row-error ErrorMessage"> @Html.ValidationMessageFor(model => model.ContactPerson1)</div>
                                    @*<input id="txtPerson1name" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson2Name" class="filter-col control-label label2">Person 2 Name :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson2, new { @id = "txtPerson2name", @class = "form-control input-sm", @onkeypress = "return AllowAlphabet(event)" })
                                    @*<div class="row-error">@Html.ValidationMessageFor(model => model.ContactPerson2)</div>*@
                                    @*<input id="txtPerson2name" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson1Contact" class="filter-col control-label label1">Person 1 Contact :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson1Mobile, new { @id = "txtPerson1Contact", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForContact(this)" })
                                    <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.ContactPerson1Mobile)</div>
                                    @*<input id="txtPerson1Contact" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson2Contact" class="filter-col control-label label2">Person 2 Contact :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson2Mobile, new { @id = "txtPerson2Contact", @class = "form-control input-sm", @onkeypress = "return isNumber(event)", @onblur = "checkLengthForContact(this)" })
                                    @*<div class="row-error">@Html.ValidationMessageFor(model => model.ContactPerson2Mobile)</div>*@
                                    @*<input id="txtPerson2Contact" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson1Email" class="filter-col control-label label1">Person 1 Email :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson1EmailId, new { @id = "txtPerson1Email", @class = "form-control input-sm", @onchange = "return validateEmail(event)" })
                                    <div class="row-error ErrorMessage">@Html.ValidationMessageFor(model => model.ContactPerson1EmailId)</div>
                                    @*<input id="txtPerson1Email" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label id="lblPerson2Email" class="filter-col control-label  label2">Person 2 Email :</label>
                                    @Html.TextBoxFor(model => model.ContactPerson2EmailId, new { @id = "txtPerson2Email", @class = "form-control input-sm", @onchange = "return validateEmail(event)" })
                                    @*<div class="row-error">@Html.ValidationMessageFor(model => model.ContactPerson2EmailId)</div>*@
                                    @*<input id="txtPerson2Email" class="form-control input-sm" type="text" />*@
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <button id="btnAdd" type="submit" name="ADD" formmethod="post">SAVE</button>  @*onclick="btnAddClick()"*@
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button id="btnClear" type="reset" name="RESET">RESET</button>

                            </div>
                        </div>
                    </div> 


                </div>
            </div>
                  
        </div>

        @*</form>*@
    }

    <div>
        @Html.ActionLink("Back to List", "List1", "user")
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('[id=ddlCreditType]').multiselect({
                    includeSelectAllOption: true
                });
            });
        });

    </script>
    <script type="text/javascript">
        $("#Country").change(function () {
            var countryid = $("#Country").val();

            //alert(countryid);
            var url = '@Url.Action("StateList", "InstituteBranchMaster")';
            // alert(url);
            $.post(url, { CountryId: countryid }, function (data) {
                // alert(countryid);
                //debugger;
                //alert(data);
                //$("#selState").html('');
                //$("#selState").append($("<option></option>").val(0).html('Select'));
                $("#selState").empty().append($("<option></option>").val(-1).html('Select'));

                $.each(data, function (Key, item) {
                    //alert(data.d);
                    //alert(Key);
                    //alert(item.Id);
                    //alert(item.State);

                    //debugger;
                    $("#selState").append($("<option></option>").val(item.Value).html(item.Text));
                });
            });

            var url1 = '@Url.Action("AssignCountryCode", "InstituteBranchMaster")';

            $.post(url1, { CountryId: countryid }, function (data) {
                debugger;
                if (data != null) {
                    //var vdata = data;
                    $("#txtContryCode").val(data);
                    //Model.Code="";

                }
            });
        });

    </script>
</body>
</html>
