@model CreditRatingModel.Model.Master

@{
    ViewBag.Title = "LoanType";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
 <script src="@Url.Content("~/js/gen_validatorv4.js")"></script>
    @using (@Html.BeginForm("btnAddClick", "Master", FormMethod.Post, new { id = "frmLoanType" }))
    {
        <div class="row" style="height:50px">
        </div>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"> <label id="lblHeading" class="filter-col control-label labelHead">Loan Type </label>  </div>
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                <label id="lblPanN" class="filter-col control-label label1">Loan Type:</label>
                                @Html.TextBoxFor(modelItem => modelItem.LoanType, new { @class = "form-control", @id = "LoanType" })
                                <div class="row-error ErrorMessage">
                                    @Html.ValidationMessageFor(modelItem => modelItem.LoanType)
                                </div>
                                @*<span style="color: Red">*</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label id="lblFIN" class="filter-col control-label label1">Credit Type :</label>
                                @Html.DropDownListFor(modelItem =>modelItem.CreditTypeId ,ViewBag.CreditType as SelectList,"Select Credit Type", new { @class = "form-control" ,@id = "CreditTypeId" })
                                <div class="row-error ErrorMessage">
                                    @Html.ValidationMessageFor(modelItem => modelItem.CreditTypeId)
                                </div>
                                @*<span style="color: Red">*</span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-xs-6">
                                        <div class="form-group">
                                            <label id="lblSex" class="filter-col control-label label1"> Category :</label>
                                            @Html.DropDownListFor(model => model.Category, new List<SelectListItem> { new SelectListItem { Text = "Loan", Value = "L" }, new SelectListItem { Text = "Credit", Value = "C" } }, "Select Category",new { @id = "Category", @class = "form-control dropdown" })

                                            @*@Html.DropDownList("Sex", new List<SelectListItem> { new SelectListItem { Text = "Male", Value = "1", Selected=true}, new SelectListItem { Text = "Female", Value = "2"}}, "Select Gender")*@
                                            @*       @Html.TextBoxFor(modelItem =>modelItem.Sex, new { @class = "form-control dropdown" ,@id = "Sex" })*@
                                            <div class="row-error ErrorMessage">
                                                @Html.ValidationMessageFor(modelItem => modelItem.Category)
                                            </div>
                                            @*<span style="color: Red">*</span>*@
                                        </div>
                    </div>             
                </div>
                      <div class="row">
                                <div class="col-xs-2">
                                    </div>
                                    <div class="col-xs-10">
                                        <button id="btnSave" type="submit" name="save"  formmethod="post">Save</button>


                                        @*<input id="btnSave" type="submit" value="Save" hidden="hidden" />*@
                                    </div>
                                </div>
                </div>
            </div>
            </div>
                }
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            debugger;
            var frmvalidator = new Validator("frmLoanType");
            debugger;
            frmvalidator.clearAllValidations();
            frmvalidator.EnableMsgsTogether();
            frmvalidator.addValidation("LoanType", "req", "Please enter Loan Type");
            frmvalidator.addValidation("CreditTypeId", "req", "Please select Credit Type");
            frmvalidator.addValidation("Category", "req", "Please select Category");
        });
    });
  </script>