@model CreditRatingModel.Model.Reg
@{
    ViewBag.Title = "userchangePassword";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row" style="height: 50px">
    </div>
<div class="container">
         @using (Html.BeginForm("userchangePassword", "UserRegistration", FormMethod.Post, new { id = "frmuserchangePassword" }))
         { 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="lblHeading" class="filter-col control-label labelHead">Change Password</label>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-6">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label id="lblUsername" class="filter-col control-label label1">Username :</label>
                            @Html.TextBoxFor(modelItem => modelItem.Username, new { @id="txtUserName", @class = "form-control", @disabled="disabled"})
                            <div class="row-error ErrorMessage">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblCPass" class="filter-col control-label label1">Current Password :</label>
                            @Html.TextBoxFor(modelItem => modelItem.Password, new { @id="txtCPass", @class = "form-control", @maxlength="15"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblNewPass" class="filter-col control-label label1">New Password :</label>
                            @Html.TextBoxFor(modelItem => modelItem.newPassword, new { @id="txtNewPass", @class = "form-control", @maxlength="15"})
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label id="lblConfPass" class="filter-col control-label label1">Confirm Password :</label>
                             @Html.TextBoxFor(modelItem => modelItem.confirmPassword, new { @id="txtConfPass", @class = "form-control", @maxlength="15"})
                            <div class="row-error ErrorMessage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                    </div>
                    <div class="col-xs-7">
                        <button id="btnSave" type="submit" name="Save">Save</button>
                        <button id="btnreset" type="reset" name="Reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
         }
    </div>
<script type="text/javascript">
   
    $('#txtCPass').change(function () {
        debugger;
        var UserPass = $("#txtCPass").val();
        var url;
        url = '@Url.Action("CheckValidPass", "UserRegistration")';

        $.post(url, { Pass: UserPass }, function (data) {
            debugger;
            if (data != "") {
                debugger;
                alert(data);
                $("#txtCPass").val('');
            }
        });
    });

    $(document).ready(function () {
        debugger;
        var username='@Session["UserLoginName"]'
        $("#txtUserName").val(username);
    });

    $('#btnSave').click(function () {

        var frmvalidator = new Validator("frmuserchangePassword");
        
        frmvalidator.clearAllValidations();
        frmvalidator.EnableMsgsTogether();

        frmvalidator.addValidation("txtCPass", "req", "Please enter current password");
        frmvalidator.addValidation("txtNewPass", "req", "Please enter New password");
        frmvalidator.addValidation("txtConfPass", "req", "Please enter Confirm password");

        frmvalidator.addValidation("txtNewPass", "neelmnt=txtUserName", "The password should not be same as username");

        frmvalidator.addValidation("txtConfPass", "eqelmnt=txtNewPass", "The confirmed password and new password should be same");
    });
    </script>


